<footer class="px-5 sm:px-6">
  <div class="max-w-container mx-auto flex flex-wrap gap-4 justify-between py-8">
    {{!-- Info --}}
    <div class="text-sm text-typ-tone font-medium">
      <span data-footer-date>&copy;{{date format="YYYY"}}&nbsp;{{#link href=@site.url class="hover:underline"}}{{@site.title}}{{/link}}.</span>
      <span data-footer-ghost>{{t "Published with"}}&nbsp;{{#link href="https://ghost.org" class="hover:underline"}}Ghost{{/link}}</span>
      <span data-footer-theme>&&nbsp;{{#link href="https://brightthemes.com/themes/yoffa" class="hover:underline"}}Yoffa{{/link}}.</span>
    </div>

    {{!-- Socials --}}
    {{> social-links 
      data_value="footer"
      nav_class="flex items-center gap-3 text-typ-tone text-base"
      item_class="flex gap-1.5 items-center hover:text-typ"
      icon_class="size-[18px] stroke-2"
      text_class="hidden"
    }}
  </div>
</footer>