<section class="px-5 sm:px-6{{#is "paged"}} my-12{{else}} mb-12{{/is}}">
  <div class="max-w-container mx-auto">
    <div class="grid grid-col-1 sm:grid-cols-2 lg:grid-cols-3 border border-brd">
      {{#foreach posts}}
        {{> post-card}}
      {{/foreach}}
    </div>
  </div>
</section>  