{{!< default}}

{{!-- Posts --}}
{{> post-feed }}

{{!-- Pagination --}}
<section class="px-5 sm:px-6 my-12">
  <div class="max-w-container mx-auto text-center text-sm font-medium text-typ-tone [&_a]:mx-3 [&_a]:font-semibold [&_a]:hover:text-typ">
    {{pagination}}
  </div>
</section>